<!-- listar_reparaciones.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Lista de Reparaciones</title>
</head>
<body>
    <h2>Lista de Reparaciones de Módulos</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Número de Parte</th>
            <th>Tipo de Memoria</th>
            <th>Fecha</th>
            <th>Precio</th>
        </tr>
        {% for reparacion in reparaciones %}
        <tr>
            <td>{{ reparacion.id }}</td>
            <td>{{ reparacion.cliente }}</td>
            <td>{{ reparacion.marca }}</td>
            <td>{{ reparacion.modelo }}</td>
            <td>{{ reparacion.numero_parte }}</td>
            <td>{{ reparacion.tipo_microprocesador }}</td>
            <td>{{ reparacion.fecha_reparacion }}</td>
            <td>{{ reparacion.precio_reparacion }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'registrar_reparacion' %}">Registrar Nueva Reparación</a>
</body>
</html>