<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Listado de Cotizaciones</title>
  </head>
  <body>
    <h2>Listado de Cotizaciones</h2>

    <a href="{% url 'registrar_cotizacion' %}">Nueva Cotización</a>

    <table>
      <thead>
        <tr>
          <th>Número</th>
          <th>Cliente</th>
          <th>Vehículo</th>
          <th>Fecha</th>
          <th>Total</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for cotizacion in cotizaciones %}
        <tr>
          <td>{{ cotizacion.numero_cotizacion }}</td>
          <td>{{ cotizacion.cliente }}</td>
          <td>{{ cotizacion.vehiculo|default:"Sin vehículo" }}</td>
          <td>{{ cotizacion.fecha }}</td>
          <td>$ {{ cotizacion.total_general }}</td>
          <td>
            <a
              href="{% url 'eliminar_cotizacion' cotizacion.numero_cotizacion %}"
              onclick="return confirm('¿Seguro que deseas eliminar esta cotización?')"
              >Eliminar</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
