<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Formulario de Servicio</title>
  </head>
  <body>
    <h2>Registrar Servicio</h2>

    <form method="post">
      {% csrf_token %} {{ form.as_p }}

      <h3>Detalles del Servicio</h3>
      {{ formset.management_form }}
      <table>
        <thead>
          <tr>
            <th>Tipo de Servicio</th>
            <th>Precio Final</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          {% for form in formset %}
          <tr>
            <td>{{ form.tipo_servicio }}</td>
            <td>{{ form.precio_final }}</td>
            <td>{{ form.DELETE }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <button type="submit">Guardar Servicio</button>
    </form>

    <a href="{% url 'listar_servicios' %}">Cancelar y regresar</a>
  </body>
</html>
